html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}

.background {
    background-color: #d61c6c;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    padding-right: 0px;
    padding-left: 0px;
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.invalid {
    color: #d61c6c;
    border: 2px solid #d61c6c !important;
}

.form-control {
    padding-left: 15px !important;
}

.form-control:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 28, 108, 0.25);
    border-color: hsl(334, 77%, 75%) !important;
}

.alert {
    color: #f5f5f5;
    background-color: #d61c6c;
    border-color: #d61c6c;
    z-index: 999;
    border-radius: 50px;
    box-shadow: 0px 15px 20px -20px rgba(214, 28, 108, 0.35);
    top: 85vh;
    left: 25%;
}

.alert.alert-danger.alertNone {
    display: none !important;
}

/* Google Button */
.gSigninContainer {
    padding-left: 17% !important;
}
.abcRioButtonBlue {
    background-color: hsl(334, 77%, 47%) !important;
}

.abcRioButtonBlue:hover {
    background-color: hsl(334, 77%, 39%) !important;
}

.abcRioButtonContents {
    font-family: "Raleway", sans-serif !important;
    font-size: 20px !important;
    line-height: 40px !important;
    color: #f5f5f5 !important;
}

.abcRioButton {
    border-radius: 20px !important;
    width: 200px !important;
    height: 42px !important;
}

.abcRioButton:hover {
    box-shadow: 0 0 3px 3px rgba(214, 28, 108, 0.25) !important;
}

.abcRioButtonBlue .abcRioButtonIcon {
    border-radius: 50% !important;
}

.abcRioButtonIcon {
    margin-top: 3px !important;
    margin-left: 3px !important;
}
